.ui-dashboard-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.ui-dashboard-page-body{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.ui-dashboard-page-body-logout-btn button{
    height: 60px;
    background-color: purple;
    color: yellow;
}