.ui-dashboard-page{
    display: flex;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
}
.ui-dashboard-page-logout-btn{
    text-align: end;
}
.ui-dashboard-page-logout-btn button{
    height: 60px;
    background-color: purple;
    color: yellow;

}

.ui-dashboard-page__main{
    width: calc(100% - 240px);
}

@media (max-width: 768px) {
    .ui-dashboard-page__main{
        width: 100%;
    }
}