body{
    margin: 0;
    font-family: "Helvetica";
    background: linear-gradient(
      101.16deg,
      rgba(36, 33, 54, 0.98) 7.51%,
      rgba(41, 56, 76, 0.98) 38.69%,
      rgba(41, 56, 76, 0.98) 57.03%,
      rgba(42, 38, 64, 0.98) 83.13%
    );
    background-repeat: no-repeat;
}

.ui-app{
  width: 100vw;
  height: 100vh;
}